body {

    background-color: rgb(255, 255, 255);
}

#welcome {
    text-align: center;
    color: #000000;
  
}

h2 {
    color: #000000;
    ;
}


div {
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
    background-color: lightcoral;
    border-radius: 25px;
    border-color: rgb(0, 0, 0);
    padding: 20px;
}
.horizontal {
    border-bottom: 5px dashed gray;

}

.box {
    padding-top: 40px
}