body {

    background-color: lightcoral;
}



h2 {
    color: #000000;
    background-color: azure;
}

.welcomeBox {
    max-width: 400px;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border-color: gray;
    padding: 20px;
}
