body {

    background-color: seagreen;
}

#welcome {
    text-align: center;
    color: darkgreen;
    background-color: turquoise;
}

h2 {
    color: limegreen
}

div {
    border: 1px solid black;
  background-color: lightblue;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
.horizontal {
    border-bottom: 5px dashed gray;

}

.box {
    padding-top: 40px
}